.language-btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  box-shadow: 4px 6px 15px -5px #8080808f;
  margin-bottom: 50px;
}
