
*{
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
}.pb-15{
    padding-bottom: 15px;
}
.alert{
    color: red;
}
input,select{
    padding: 7px 10px;
    border: 1px solid #8080808f;
}
.btn-success{
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    border-radius: 5px;
    cursor: pointer;
}
button:disabled{
    background-color: gray;

}